﻿@*@model IEnumerable<Galerii.Models.AspNetUser>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pildigalerii</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pildigalerii", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        @*<li>@Html.ActionLink("Minu albumid", "IndexEdit", "Albums", new { parentId = Model.Where(x=>x.Email==User.Identity.Name).Select(x=>x.UserRoot).SingleOrDefault() })</li>*@
                        if (User.IsInRole("Administraator") || User.IsInRole("Moderaator"))
                        {
                            <li>@Html.ActionLink("Kategooriad", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Kasutajate pildid", "Index", "Pictures")</li>
                            if (User.IsInRole("Administraator"))
                                {
                                    <li>@Html.ActionLink("Kasutajad", "Index", "Users")</li>
                                }
                         }
                     }

                    <li>@Html.ActionLink("Info", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - Galerii</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
