﻿@model Galerii.Models.Picture

@{
    ViewBag.Title = "Kustuta pilt";
}

<h2>Kustuta pilt</h2>

<h3>Kas oled kindel, et soovid selle pildi kustutada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Kirjeldus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Loodud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>*@

        <dt>
            Album
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>*@

        <dt>
            Kategooria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Failinimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.FileName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" />
        </div>
    }
</div>
