﻿@model Galerii.Models.Picture

@{
    ViewBag.Title = "Pilt";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <img src="@Url.Action("Content", "Pictures", new { id = Model.DataFileId })" style="max-height:800px; max-width:1000px" />
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Kirjeldus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Pilt lisatud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.State)
            </dd>*@

        <dt>
            Album
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Name)
        </dd>

        <dt>
            Autor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            Kategooria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Failinimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.FileName)
        </dd>

        <dt>
            Likes
        </dt>

        <dd>
            <a href="@Url.Action("AddLike", new { id = Model.Id })">
                <img src="~/Content/like.png" height="20" />
            </a>
            @Html.DisplayFor(model => model.Likes.Count)

        </dd>

        @if (Request.IsAuthenticated && (Model.AspNetUser.Email == User.Identity.Name || User.IsInRole("Administraator") || User.IsInRole("Moderaator")))
        {
            <dt>
                Muuda
            </dt>

            <dd>
                @Html.ActionLink("Muuda", "Edit", new { id = Model.Id })
            </dd>
        }
    </dl>
</div>
<td>
    @foreach (Galerii.Models.Comment comment in Model.Comments)
    {
        <h4>@comment.Content</h4>
        <h6>@comment.AspNetUser.DisplayName</h6>
        <h6>@comment.Created</h6>
        <p> ______________________________________________</p>
    }
</td>
@if (Request.IsAuthenticated)
{
    <td>
        <form action="@Url.Action("AddComment", "Pictures")">
            <input type="text" size="50" height="50" name="comment" maxlength="1000" />
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="submit" value="Lisa kommentaar (max 1000 tähte)" />
        </form>
    </td>
}

