﻿@model IEnumerable<Galerii.Models.Picture>

@{
    ViewBag.Title = "Pildigalerii";
}

<h2>@ViewBag.header</h2>

@foreach (var item in Model)
{
<div class="col-md-4" style="padding:10px">
    <div>
        <a href='@Url.Action("Details", "Pictures", new { id = item.Id })'>
            <img src="@Url.Action("Content", "Pictures", new { id = item.DataFileId })" style="max-height:120px; max-width:200px" />
        </a>
    </div>
    <div>@item.Name</div>
    @if (item.Category.Id != 3)
    {
        <div>Lisatud: @item.Created</div>
        <div>Album: @item.Album.Name</div>
        <div>Kategooria: @item.Category.Name</div>
        <div>Kasutaja: @item.AspNetUser.Email</div>
        <div>Likes: @item.Likes.Count</div>
    }
</div>
}
