﻿@model IEnumerable<Galerii.Models.Picture>

@{
    ViewBag.Title = "Piltide loend";
}

<h2>Piltide loend</h2>

<table class="table">
    <tr>
        <th>
            Nimi
        </th>
        <th>
            Kirjeldus
        </th>
        <th>
            Lisatud
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.State)
        </th>*@
        <th>
            Album
        </th>
        <th>
            Lisaja
        </th>
        <th>
            Kategooria
        </th>
        <th>
            Failinimi
        </th>
        <th>
            Pilt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    @*<td>
          @Html.DisplayFor(modelItem => item.State)
      </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Album.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataFile.FileName)
    </td>
    <td>
        <a href='@Url.Action("Details", "Pictures", new { id = item.Id })'>
            <img src="@Url.Action("Content", "Pictures", new { id = item.DataFileId })" style="max-height:120px; max-width:200px" />
        </a>
    </td>
    @if (Request.IsAuthenticated && (item.AspNetUser.Email == User.Identity.Name || User.IsInRole("Administraator") || User.IsInRole("Moderaator")))
    {
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
        </td>
    }
    </tr>
}

</table>
