﻿@model Galerii.Models.AspNetUser

@{
    ViewBag.Title = "Kustuta kasutaja";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.hasAlbums)
{
    <h3>Kasutajat ei saa kustutada, sest tal on albumeid.</h3>
}
@if (ViewBag.lastAdmin)
{
    <h3>Kasutajat ei saa kustutada, sest ta on ainus administraator.</h3>
}
@if (!ViewBag.hasAlbums && !ViewBag.lastAdmin)
{
    <h3>Kas oled kindel, et soovid selle kasutaja kustutada?</h3>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <br />

        @if (!ViewBag.hasAlbums && !ViewBag.lastAdmin)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @*<dt>
                        @Html.ActionLink("Tagasi nimekirja", "Index")
                    </dt>*@

                <dd class="form-actions no-color">
                    <input type="submit" value="Kustuta" class="btn btn-default" />
                </dd>
            }
        }

    </dl>
</div>
