﻿@model IEnumerable<Galerii.Models.AspNetUser>

@{
    ViewBag.Title = "Kasutajad";
}

<h2>Kasutajad</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Albumid
        </th>
        <th>
            Administraatorid
        </th>
        <th>
            Moderaatorid
        </th>
        @*<th>
            Muuda
        </th>*@
        <th>
            Kustuta
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DisplayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.ActionLink("Sisene", "IndexEdit", "Albums", new { parentId = item.UserRoot, owner = item.Email }, null)
    </td>

    <td>
        @if (item.AspNetRoles.Select(x => x.Name).ToList().Contains("Administraator"))
        {
            @Html.ActionLink("Eemalda", "RemoveRole", new { id = item.Id, roleid = 1 })

        }
        else
        {
            @Html.ActionLink("Kinnita", "AddRole", new { id = item.Id, roleid = 1 })
        }
    </td>
    <td>
        @if (item.AspNetRoles.Select(x => x.Name).ToList().Contains("Moderaator"))
        {
            @Html.ActionLink("Eemalda", "RemoveRole", new { id = item.Id, roleid = 3 })

        }
        else
        {
            @Html.ActionLink("Kinnita", "AddRole", new { id = item.Id, roleid = 3 })
        }
    </td>

    @*<td>
        @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
    </td>*@

    <td>
        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
