﻿@model Galerii.Models.Category

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta</h2>

@if (ViewBag.childless)
{
    <h3>Kas oled kindel, et soovid selle kategooria kustutada?</h3>
}
else
{
    <h3>NB! Seda kategooriat ei saa kustutada, sest see on omistatud albumitele ja/või piltidele.</h3>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @if (ViewBag.childless)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Tagasi nimekirja", "Index")
            </div>
        }
    }
</div>
