﻿@{
    ViewBag.Title = "Info";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Galeriisse saavad kasutajaks registreerunud teha pildialbumeid. Albumitele on võimalik teha piiramatult alamalbumeid. Albumeid on võimalik hiljem tõsta enda galerii esilehele või mõne teise albumi alla. Sama on võimalik teha piltidega. Albumites olevaid pilte saavad teised kasutajad hinnata ning kommenteerida.</p>
<p>Tegijad:</p>
<p>Kalev Päädam</p>
<p>Märten Rannu</p>