﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kalev Päädam</p>
<p>Märten Rannu</p>
<div><img alt="KITT" src="~/Content/punanejoonkitt.gif" height="8" width="650"></div>

