﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-image:url('../Content/header.jpg'); ">
        <h1>
            Pildigalerii
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("> minu albumid", "IndexEdit", "Albums", new { parentId = ViewBag.userRoot }, null)
            }
        </h1>
    </div>

<div class="row" style="text-align:center">
    <div class="col-md-4">
        <a href='@Url.Action("Gallery", "Pictures")'>
            <img src="@Url.Action("Content", "Pictures", new { id = ViewBag.newestPic })" style="max-height:200px; max-width:300px" />
        </a>
        <h3>@Html.ActionLink("Värskeimad pildid", "Gallery", "Pictures")</h3>
    </div>

    <div class="col-md-4">
        <a href='@Url.Action("Gallery", "Pictures", new { likes = 1 }, null)'>
            <img src="@Url.Action("Content", "Pictures", new { id = ViewBag.mostLikedPic })" style="max-height:200px; max-width:300px" />
        </a>
        <h3>@Html.ActionLink("Hinnatuimad pildid", "Gallery", "Pictures", new { likes = 1 }, null)</h3>
    </div>

    <div class="col-md-4">
        <a href='@Url.Action("Index", "Albums")'>
            <img src="@Url.Action("Content", "Pictures", new { id = ViewBag.randomPic })" style="max-height:200px; max-width:300px" />
        </a>
        <h3>@Html.ActionLink("Kasutajate galeriid", "Index", "Albums")</h3>
    </div>
</div>