﻿@model Galerii.Models.Album

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta album</h2>

@if (ViewBag.childless)
{
    <h3>Kas oled kindel, et soovid selle albumi kustutada?</h3>
}
else
{
    <h3>NB! Seda albumit ei saa kustutada, sest see sisaldab alamalbumeid ja/või pilte.</h3>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Loodud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            Kategooria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        @if (Request.IsAuthenticated && (User.IsInRole("Administraator") || User.IsInRole("Moderaator")))
        {
            <dt>
                Omaniku email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>
        }

        <br />

        @if (ViewBag.childless)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @*<dt>
                        @Html.ActionLink("Tagasi nimekirja", "IndexEdit", new { owner = Model.AspNetUser.Email })
                    </dt>*@

                <dd class="form-actions no-color">
                    <input type="submit" value="Kustuta" class="btn btn-default" />
                </dd>
            }
        }
    </dl>
</div>
