﻿@model IEnumerable<Galerii.Models.Album>

@{
    ViewBag.Title = "Albumid";
}

<h2>@ViewBag.parentName</h2>


@foreach (var item in Model)
{
    <div class="col-md-4" style="padding:10px">
        <div>
            <a href='@Url.Action("Index", "Albums", new { parentId = item.Id }, null)'>
                @if (item.CoverPictureId != null)
                {
                    <img src="@Url.Action("Content", "Pictures", new { id = item.Picture.DataFileId })" style="max-height: 120px; max-width: 180px"/><br />
                }
                else
                {
                    <div style = "height:120px; width:180px; background:#808080" ></div >
                }
            </a>
            @Html.ActionLink(item.Name, "Index", "Albums", new { parentId = item.Id }, null)
        </div>
        @if (item.Category.Id != 3)
        {
            <div>Loodud: @Html.DisplayFor(modelItem => item.Created)</div>
            <div>Kategooria: @Html.DisplayFor(modelItem => item.Category.Name)</div>
            <div>Kasutaja: @Html.DisplayFor(modelItem => item.AspNetUser.Email)</div>
        }
    </div>
}


<div style="clear:both"></div>

@if (ViewBag.picsInAlbum > 0)
{
     foreach (var item in ViewBag.pictures)
     {
         <div class="col-md-4" style="padding:10px">
             <div>
                 <a href='@Url.Action("Details", "Pictures", new { id = item.Id })'>
                     <img src="@Url.Action("Content", "Pictures", new { id = item.DataFileId })" style="max-height:120px; max-width:180px" />
                 </a>
             </div>
             <div>@item.Name</div>
             @if (item.Category.Id != 3)
             {
                 <div>Lisatud: @item.Created</div>
                 <div>Kategooria: @item.Category.Name</div>
                 <div>Kasutaja: @item.AspNetUser.Email</div>
                 <div>Likes: @item.Likes.Count</div>
             }
         </div>
     }
}




