﻿@model IEnumerable<Galerii.Models.Album>

@{
    ViewBag.Title = "Index";
}
@if (ViewBag.upLevelId != null)
{
    <h4>@Html.ActionLink("Tagasi albumisse " + (string)ViewBag.upLevelName­, "IndexEdit", new { parentId = ViewBag.upLevelId })</h4>
}
<h2>@ViewBag.parentName</h2>

<p>
    @if (ViewBag.catId != 0)
    {
        @Html.ActionLink("Loo uus album", "Create", new { parentId = ViewBag.parentId })
        <br />
        @Html.ActionLink("Lisa uus pilt", "Create", "Pictures", new { parentId = ViewBag.parentId }, null)
    }
</p>

@if (ViewBag.albumsInAlbum > 0)
{
    <h4>Alamalbumid selles albumis</h4>

    <table class="table">
        <tr>
            <th>Nimi</th>
            <th>Loodud</th>
            @*<th>@Html.DisplayNameFor(model => model.State)</th>*@
            <th>Kategooria</th>
            @if (Request.IsAuthenticated && User.Identity.Name != ViewBag.owner && (User.IsInRole("Administraator") || User.IsInRole("Moderaator")))
            {
                <th>Kasutaja</th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CoverPictureId != null)
                    {
                        <a href='@Url.Action("IndexEdit", "Albums", new { parentId = item.Id }, null)'>
                            <img src="@Url.Action("Content", "Pictures", new { id = item.Picture.DataFileId })" style="max-height:120px; max-width:200px" />
                        </a><br />
                    }
                    @Html.ActionLink(item.Name, "IndexEdit", "Albums", new { parentId = item.Id }, null)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                @*<td>@Html.DisplayFor(modelItem => item.State)</td>*@
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                @if (Request.IsAuthenticated && User.Identity.Name != ViewBag.owner && (User.IsInRole("Administraator") || User.IsInRole("Moderaator")))
                {
                    <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                }
                @if (Request.IsAuthenticated && item.CategoryId != 3)
                {
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </table>
}


@if (ViewBag.picsInAlbum > 0)
{
    <h4>Pildid selles albumis</h4>

    <table class="table">
        <tr>
            <th>Nimi</th>
            <th>Kirjeldus</th>
            <th>Lisatud</th>
            @*<th>Staatus</th>*@
            <th>Album</th>
            <th>Lisaja</th>
            <th>Kategooria</th>
            <th>Failinimi</th>
            <th>Pilt</th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.pictures)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Created</td>
                @*@item.State</td>*@
                <td>@item.Album.Name</td>
                <td>@item.AspNetUser.Email</td>
                <td>@item.Category.Name</td>
                <td>@item.DataFile.FileName</td>
                <td>
                    <a href='@Url.Action("Details", "Pictures", new { id = item.Id })'>
                        <img src="@Url.Action("Content", "Pictures", new { id = item.DataFileId })" style="max-height:120px; max-width:200px" />
                    </a>
                </td>
                @if (Request.IsAuthenticated && (item.AspNetUser.Email == User.Identity.Name || User.IsInRole("Administraator") || User.IsInRole("Moderaator")))
                {
                    <td>
                        @Html.ActionLink("Muuda", "Edit", "Pictures", new { id = item.Id }, null) |
                        @Html.ActionLink("Kustuta", "Delete", "Pictures", new { id = item.Id }, null)
                    </td>
                }
            </tr>
        }

    </table>
}




